@import "~normalize.css";
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
/* -------------------------------------------------------------------------------------- */

html {
  font-size: 18px;
}
body {
  /* background: url(https://jooinn.com/images/black-rock-background-2.jpg); */
  /* background: url(https://cdn.shopify.com/s/files/1/2930/2308/products/old-master-black-with-center-warm-gray-texture-backdrop_250cfb6d-a278-4efd-a4df-d99231ec08cd_1024x1024@2x.jpg?v=1535698605); */
  background: url(https://i.imgur.com/nsm91Eo.jpg);
  background-attachment: fixed;
  color: rgb(0, 0, 0);
  font-family: "Amatic SC", cursive;
  padding: 0;
  /* min-height: 100vh; */
  display: block;
  position: relative;
}

h1 {
  text-align: center;
  color: rgb(0, 247, 255);
  font-size: 4rem;
  margin: 2rem auto;
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(255, 163, 78);
}

a:visited {
  color: rgb(34, 213, 219);
}

hr {
  width: 100%;
  height: 1px;
  background: #fff;
}

/* -------------------------------------------------------------------------------------------------------------- */

.button,
.button:visited {
  background: white;
  border: 1px solid rgb(0, 225, 255);
  padding: 5px 10px;
  border-radius: 25%;
  color: black;
  border-radius: 15px;
  height: 46px;
  font-size: 200%;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 10px 6px #000000;
}

button:hover,
.button:hover {
  /* ----Fast ScaleBox--- */
  transform: scale(1.1);
  transition: all ease 200ms;
  text-decoration: none;
}

.fancy-button,
.fancy-button:visited {
  border-radius: 25px;
  background: black;
  font-size: 50px;
  color: rgb(0, 225, 255);

  height: 70px;
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
  margin-top: 30px;
  /* line-height: 1; */
}

.signup-button {
  width: 10%;
  min-width: 100px;
  border: 2px solid rgb(0, 225, 255);
  padding: 2px 5px;
  border-radius: 25%;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 10px 6px #000000;

  border-radius: 25px;
  background: black;
  font-size: 50px;

  height: 62px;
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
  margin-top: 30px;
}

.signup-submit {
  height: 60px;

  animation: pulse 1.5s infinite;
  animation-timing-function: linear;

  transform: scale(1.1);
  transition: all ease 200ms;
  text-decoration: none;
  background: black;
  color: rgb(0, 225, 255);

  margin-top: 30px;
}

/* FORMS */

input[type="text"],
input[type="password"] {
  border-radius: 15px;
  width: 110px;
  height: 37px;
  font-size: 1.5rem;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  margin: 5px auto;
}
input:hover {
  /* ----Fast ScaleBox--- */
  transform: scale(1.1);
  transition: all ease 150ms;
}

textarea {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 20px;
  color: white;
  font-size: 2rem;
  font-family: "Amatic SC", cursive;
  width: 50%;
  height: 100px;
  font-weight: 700;
  resize: none;
  outline: none;
}
/* textarea:focus {
  border: 1px solid white;
  border-radius: 20px;
  
} */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

/* HEADER */

header {
  background: black;
  border-bottom: 2px solid rgb(6, 205, 255);
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  height: 10%;
}

.maintitle {
  font-size: 240%;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 4s infinite linear;
  animation: shake 1000ms infinite;
  animation-timing-function: linear;
}

.maintitle2 {
  color: rgb(77, 156, 209);
  font-size: 220%;
}

.maintitle,
.maintitle2 {
  font-weight: 700;
  z-index: 2;
}

.maintitle-div,
.user-info {
  display: flex;
  padding: 15px;
}

/* ----------------------------------------0000000000000------USERNAME TOP RIGHT */

.done-date {
  color: rgb(255, 0, 0);

  font-size: 3rem;
  margin: 0;
  margin-top: 8px;
  margin-bottom: -20px;

  text-shadow: 6px 10px 2px #000000;
}

.done {
  font-size: 3rem;
  color: rgb(255, 94, 0);

  text-shadow: 0px 10px 7px #000000;

  color: #f35626;
  -webkit-animation: hue 4s infinite linear;
}

.cross {
  width: 70%;
  margin-top: 10px;
}

.user-info {
  margin-right: 20px;
  text-align: right;
}

.welcomename,
.isloggedin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcomename {
  /* cursor: pointer; */
  cursor: default;
  color: rgb(255, 222, 180);
  font-size: 1.4rem;
  text-align: right;
  font-weight: bold;
}

@media (min-width: 600px) {
  .welcomename {
    font-size: 3rem;
  }
}

.welcomename:hover {
  /* ----Fast ScaleBox--- */
  /* transform: scale(1.1);
  transition: all ease 100ms; */
  /* background: rgb(0, 0, 0); */
  /* box-shadow: 0 0 25px #000; */
  text-align: center;
  /* display: block; */
  color: rgb(0, 247, 255);
  text-decoration: none;
  font-weight: bold;
}

.isloggedin {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background: black;
  border: 2px solid rgb(18, 219, 219);
  margin-left: 16px;
  padding: 6px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .isloggedin {
    font-size: 2rem;
    margin: 0;
    margin-left: 16px;
    font-family: "Amatic SC", cursive;
  }
}

.isloggedin:hover {
  /*  /* ----Fast ScaleBox--- */
  transform: scale(1.1);
  transition: all ease 100ms;
  /* background: rgb(0, 0, 0); */
  /* box-shadow: 0 0 25px #000; */
  text-align: center;
  /* display: block; */
  color: rgb(0, 247, 255);
  text-decoration: none;
  font-weight: bold;
}

/* FOOTER */

.footer {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 300%;
  height: 50px;
  background: black;
  border-top: 2px solid rgb(6, 205, 255);
  box-shadow: 0px -10px 10px #000000;
  cursor: default;

  color: #f35626;
  -webkit-animation: hue 4s infinite linear;
}

.copyright {
  font-size: 1.8rem;
  position: fixed;
  margin-top: 0.5%;
  padding-left: 15px;
}

.gitlink {
  margin-left: 95%;
  font-size: 77%;
}

.linkedin-link {
  margin-left: -20%;
  font-size: 77%;
}

@media (min-width: 600px) {
  .linkedin-link {
    margin: 0;
    margin-left: -80px;
  }
}

/* APP */

.App {
  text-align: center;
}

.app-header {
  text-align: left;
  box-shadow: 0px 5px 10px #000000;

  color: #f35626;
  -webkit-animation: hue 4s infinite linear;
}

.App-link {
  color: #61dafb;
}

/* Main */

main {
  margin: 10px;
  margin-bottom: 3%;
  margin-top: 200px;
}

@media (min-width: 770px) {
  main {
  margin-top: 100px;
}
}


@media (min-width: 1000px) {
  main {
  margin-top: 80px;
}
}

/* HOMEPAGE */

.tagline {
  color: rgb(230, 230, 230);
  font-size: 190%;
  margin-bottom: -1.5%;
  margin-top: -4%;
  animation: shake 1000ms infinite;
  animation-timing-function: linear;
  max-width: 100%;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@media (min-width: 500px) {
  .tagline {
    font-size: 260%;
  }
}

@media (min-width: 768px) {
  .tagline {
    font-size: 260%;
  }
}

.LOGO {
  z-index: -1;
  max-width: 100%;
  margin-top: -50px;

  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 4s infinite linear;

  animation: shake 3000ms infinite;
  animation-timing-function: linear;
}

.LOGOsmall {
  display: none;
  max-width: 190px;
  min-width: 70px;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 4s infinite linear;
  margin-top: -5px;
}

@media (min-width: 600px) {
  .LOGOsmall {
    display: block;
    max-width: 190px;
    min-width: 70px;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 4s infinite linear;
  }
}

.maintitle-div {
  display: none;
  width: 200px;
  margin-top: -10px;
  margin-bottom: -10px;
}

@media (min-width: 600px) {
  .maintitle-div {
    display: block;
  }
}

/* SHARED */

.page-title {
  margin-bottom: 10px;
}

/* LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN------------ */

.logtitle {
  color: rgb(1, 247, 255);
  font-size: 300%;
  margin-bottom: -100px;
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
}

.logform {
  width: 100%;
  display: flex;
  margin-top: 0%;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .logform {
    justify-content: flex-end;
  }
}

.logsubmit {
  color: rgb(0, 225, 255);
  border-radius: 15px;
  height: 50px;
  margin: 10px;

  font-size: 200%;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  background: black;
  border: 2px solid rgb(18, 219, 219);
}

#register-field {
  width: 400px;
}

.dayinfo-all {
  margin-top: 80px;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;

  cursor: default;
}

.signup-title {
  margin-top: 150px;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.footer-div {
  display: flex;
}

#logname {
  width: 100px;
  margin: 10px;
}

#logpass {
  width: 100px;
  margin: 10px;
}

@media (min-width: 770px) {
  #logname,#logpass {
    width: 200px;
    margin: 10px;
  }
}

/* ----SKILLSELECT--------SKILL SELECT------SKILL SELECT-----------SSSSSKKK-----------SSSKKKKKKKKK--------------------------------------- */

.your-daily {
  font-size: 5rem;
  margin-bottom: 15px;
  color: rgb(0, 247, 255);

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  cursor: default;
}

.your-daily-habits {
  font-size: 3rem;
  margin-bottom: 15px;
  color: rgb(255, 196, 107);

  -webkit-animation: glow-orange 1s ease-in-out infinite alternate;
  -moz-animation: glow-orange 1s ease-in-out infinite alternate;
  animation: glow-orange 1s ease-in-out infinite alternate;
  cursor: default;
}
.your-daily-routine {
  transform: rotate(2deg);
  margin: 0;
  font-size: 2.5rem;
  color: rgb(255, 196, 107);

  -webkit-animation: glow-orange 1s ease-in-out infinite alternate;
  -moz-animation: glow-orange 1s ease-in-out infinite alternate;
  animation: glow-orange 1s ease-in-out infinite alternate;
  cursor: default;
}

.yourskills {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-top: -10px;
}

.daycompleted {
  color: rgb(0, 255, 191);
}

.skillname-add {
  color: rgb(250, 226, 160);
}

.skilllist-div {
  display: flex;
  background: transparent;
  border: 1px solid rgb(0, 206, 178);
  border-radius: 15px;
  margin: 10px;
}

.skilllist-div:hover {
  transform: scale(1.1);
  transition: all ease 150ms;
}

.skillform {
  margin-top: 10px;
}

.skillinput {
  /* box-shadow: 5px 10px; */
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  border-radius: 15px;
  font-size: 38px;
  height: 38px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hourselect {
  /* box-shadow: 5px 10px; */
  cursor: pointer;
  border-radius: 15px;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 50px;
  width: 60px;
  height: 50px;
  margin-top: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hardtitle {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  /* display: block; */
}

input[type="text"] {
  width: 350px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  margin-top: 10px;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background: rgb(179, 255, 0);
  outline: none;
  cursor: pointer;
  border: 4px solid rgb(0, 0, 0);
}

.skill-routine-table {
  cursor: default;
}

.skillsubmit {
  margin-top: 20px;
  margin-bottom: 30px;
}

.addbutton {
  width: 13%;
  height: 8%;
  border-radius: 15px;
  padding: -5px;
}

.hardsmash {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.6rem;
  color: rgb(133, 54, 54);
  font-weight: 700;
  margin: 10px;
}
.easysmash {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.6rem;
  color: rgb(133, 133, 133);
  font-weight: 700;
  margin: 10px;
}

.skillsmash {
  padding: px;
}

.skillform-titles {
  color: rgb(0, 247, 255);
  font-size: 50px;
  margin: 0;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  cursor: default;
}

.skillform-titles2 {
  transform: rotate(2deg);
  color: rgb(0, 247, 255);
  font-size: 50px;
  margin: 0;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  cursor: default;
}

.circle {
  font-size: 0.8rem;
}

/* -----------------MAIN PAGE------------------------------------------- */

.skilllist-end {
  font-size: 2rem;
  font-weight: 700;
}

.skill-completed-word {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(255, 168, 97);
  margin-left: 10px;
  margin-right: 40px;
}

.journal-form {
  margin-bottom: 100px;
}

.skillday-info {
  display: flex;
  text-align: left;
  margin-left: 30%;
}

.happycheck {
  color: green;
}

.day-skills {
  text-align: left;
}

.journal-title {
  color: orange;

  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: -1px;

  -webkit-animation: glow-orange 1s ease-in-out infinite alternate;
  -moz-animation: glow-orange 1s ease-in-out infinite alternate;
  animation: glow-orange 1s ease-in-out infinite alternate;
}

.singleskill {
  margin-top: -20px;
  margin-left: 10px;
  color: rgb(21, 228, 176);
  font-weight: 700;
}

.skilltarget {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(66, 66, 66);
  font-weight: 700;
  font-size: 0.7rem;
  border: 1px solid;
  padding: 4px;
}

.skilltarget:hover {
  color: white;
}

.days {
  font-size: 285%;
  margin: 3%;
  margin-bottom: 8%;
  color: rgb(255, 255, 255);
}

.days-container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  margin-top: -1%;
  margin-bottom: 4%;
}

.addroutine {
  margin-bottom: 20px;
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
}

.skilldiv {
  color: rgb(0, 0, 0);
  background: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
  /* height: 100%; */
}

@media (min-width: 768px) {
  .skilldiv {
    width: 30%;
  }
}

.skilldiv:hover {
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  /* ----Fast ScaleBox--- */
  transform: scale(1.1);
  transition: all ease 200ms;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 25px #000;
  text-align: center;
  display: block;
  color: rgb(0, 247, 255);
  text-decoration: none;
  font-weight: bold;
}

.skilldiv2 {
  width: 30%;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  margin-left: 35%;
  padding: 10px;
}

.target {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  color: rgb(36, 149, 255);
  font-weight: 700;
  padding: 5px;
}

.difficulty-rating {
  color: rgb(0, 255, 128);
  font-weight: 700;
}

/* ---------------------------------------------------------------------- */

.create-routine {
  background: black;
  border: 2px solid rgb(41, 255, 209);
  color: rgb(41, 255, 209);
  cursor: pointer;
  border-radius: 15px;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 50px;
  width: 300px;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 70px;

  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
}

.create-routine-button {
  width: 20%;
  height: 10%;
}

/* Skill status */

.skill-status {
  color: white;
  margin-bottom: 0px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

@keyframes wiggle {
  0% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(2px, 0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes wiggle {
  0% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(2px, 0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(-0.5deg);
  }
  100% {
    transform: rotate(0.5deg);
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px rgb(96, 163, 240), 0 0 10px rgb(64, 238, 223), 0 0 20px;
  }
  to {
    text-shadow: 0 0 5px rgb(105, 226, 216), 0 0 20px #66d4e2, 0 0 30px;
  }
}

@-webkit-keyframes glow-orange {
  from {
    text-shadow: 0 0 2px rgb(236, 127, 53), 0 0 10px rgb(248, 130, 20), 0 0 20px;
  }
  to {
    text-shadow: 0 0 5px rgb(255, 144, 41), 0 0 20px #ffb560, 0 0 30px;
  }
}

/* ---------------------------------------------------------------------------------- */
