
body {
    margin: 20px;
    background: url(https://jooinn.com/images/black-rock-background-2.jpg);
    color: rgb(184, 184, 184);

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4em; 
    padding:0; 
    margin:10;
}


h1 {
  text-align: center;
  color:rgb(185, 164, 131);
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(49, 91, 182);
}

a:visited {
  color: rgb(49, 91, 182);
}

hr { width:100%; height:1px; background: #fff }


.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.footer {
    position: absolute;
    bottom: 0;

    font-size: 15px;
}

.maintitle {
  text-shadow: 0px 7px rgb(0, 0, 0);

  margin-top: -40px;  
  margin-bottom: 0;
  font-size: 80px;
}

.tagline {
  text-shadow: 0px 10px rgb(0, 0, 0);

  font-size: 17px;
  margin-top: 7px;
}

.grand {
  margin-top: 20px;
  margin-left: -235px;

  color: rgb(73, 112, 128);

}


/* ----SKILLSELECT----------------------------------------------------------------------------------------------- */

.skillform {
  margin-top: 50px;
}

.skillinput {
  font-size: 15px;
  
  width: 200px;
  height: 20px;
}

.hourselect {
  font-size: 15px;
  
  width: 75px;
  height: 25px;
}
.skillsubmit {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  font-size: 15px;
  
  width: 75px;
  height: 25px;
  margin-top: 120px;

  
}


/* -------------------------------------------------------------------------------------------------------------- */

 /* ----LogIn Screen/ Welcome Page----------------------------------------------------------------------------------- */


.logtitle {
  font-size: 40px;

  margin-top: 150px;
  margin-bottom: -8px;

  color: rgb(74, 111, 126);

}
.regtitle {
  font-size: 30px;

  margin-top: 150px;
  margin-bottom: -8px;

  color: rgb(78, 129, 104);

}

.logform {
  margin-top: -100px;
}

.logname {
  margin: 20px;
  font-size: 15px;
  
  width: 200px;
  height: 15px;
}

.logpass {
  font-size: 15px;
  
  width: 200px;
  height: 15px;
}

.logsubmit {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  font-size: 15px;
  
  width: 75px;
  height: 30px;
  margin-top: 20px;
}


.signup {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  font-size: 15px;
  
  width: 100px;
  height: 30px;
  margin-top: 50px;
}

.welcomename {
  text-shadow: 1px 6px rgb(0, 0, 0);

  color: rgb(255, 133, 77);
  font-size: 20px;

  text-align: left;


}
.isloggedin {
  color: rgb(110, 110, 110);
  font-size: 15px;

  text-align: left;

  margin-top: -17px;

}

.skillbutton {

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 150px;

  width: 300px;
  height: 30px;

  font-size: 15px;

  cursor: pointer
}




 /* -------------------------------------------------------------------------------------------------------------- */