@import "~normalize.css";
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
/* -------------------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}
body {
  /* background: url(https://jooinn.com/images/black-rock-background-2.jpg); */
  /* background: url(https://cdn.shopify.com/s/files/1/2930/2308/products/old-master-black-with-center-warm-gray-texture-backdrop_250cfb6d-a278-4efd-a4df-d99231ec08cd_1024x1024@2x.jpg?v=1535698605); */
  background: url(https://i.imgur.com/nsm91Eo.jpg);
  background-attachment: fixed;
  color: rgb(0, 0, 0);
  font-family: "Amatic SC", cursive;
  padding: 0;
  /* min-height: 100vh; */
  display: block;
  position: relative;
}

h1 {
  text-align: center;
  color: rgb(0, 247, 255);
  font-size: 1.8rem;
}

@media (min-width: 500px) {
  h1 {
    font-size: 2.2rem;
  }
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(0, 225, 255);
}

a:visited {
  color: rgb(34, 213, 219);
}

hr {
  width: 100%;
  height: 1px;
  background: #fff;
}

/* -------------------------------------------------------------------------------------------------------------- */

.button,
.button:visited {
  background: black;
  border: 1px solid rgb(0, 225, 255);
  padding: 5px 10px;
  border-radius: 25%;
  /* color: black; */
  border-radius: 10px;
  /* height: 46px; */
  font-size: 200%;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 10px 6px #000000;
}

button:hover,
.button:hover {
  /* ----Fast ScaleBox--- */
  transform: scale(1.1);
  transition: all ease 200ms;
  text-decoration: none;
}

.fancy-button,
.fancy-button:visited {
  border-radius: 10px;
  background: black;
  font-size: 1.5rem;
  color: rgb(0, 225, 255);

  height: 70px;
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
  margin-top: 10px;
  /* line-height: 1; */
}

.signup-button {
  min-width: 100px;
  border: 2px solid rgb(0, 225, 255);
  font-size: 200%;
  border-radius: 10%;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  display: inline-block;
  line-height: 1.25;
  cursor: pointer;
  box-shadow: 5px 10px 6px #000000;
  border-radius: 10px;
  background: black;

  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
  margin-top: 30px;
}

.signup-submit {
  height: 60px;

  animation: pulse 1.5s infinite;
  animation-timing-function: linear;

  transform: scale(1.1);
  transition: all ease 200ms;
  text-decoration: none;
  background: black;
  color: rgb(0, 225, 255);

  margin-top: 30px;
}

.signup-title {
  margin-top: -50px;
  margin-bottom: -5px;
  font-size: 3rem;
}

@media (min-width: 770px) {
  .signup-title {
    margin-top: 150px;
  }
}

/* FORMS */

input[type="text"],
input[type="password"] {
  border-radius: 10px;
  width: 110px;
  height: 37px;
  font-size: 1.6rem;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  margin: 5px auto;
}

@media (min-width: 500px) {
  input[type="text"],
  input[type="password"] {
    font-size: 1.5rem;
  }
}

input:hover {
  /* ----Fast ScaleBox--- */
  /* transform: scale(1.1); */
  transition: all ease 150ms;
}

textarea {
  background: rgba(43, 78, 131, 0.445);
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-family: "Amatic SC", cursive;
  width: 100%;
  height: 200px;
  font-weight: 700;
  resize: none;
  outline: none;
}

@media (min-width: 700px) {
  textarea {
    font-size: 2rem;
  }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */

/* HEADER */

header {
  background: black;
  border-bottom: 2px solid rgb(6, 205, 255);
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  height: 20%;
}

@media (min-height: 500px) {
  header {
    height: 8%;
  }
}

.maintitle {
  font-size: 240%;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 4s infinite linear;
  animation: shake 1000ms infinite;
  animation-timing-function: linear;
}

.maintitle2 {
  color: rgb(77, 156, 209);
  font-size: 220%;
}

.maintitle,
.maintitle2 {
  font-weight: 700;
  z-index: 2;
}

/* ----------------------------------------0000000000000------USERNAME TOP RIGHT */

.done-date {
  color: rgb(255, 0, 0);

  font-size: 3rem;
  margin: 0;
  margin-top: 8px;
  margin-bottom: -20px;

  text-shadow: 6px 10px 2px #000000;
}

.done {
  font-size: 3rem;
  color: rgb(255, 94, 0);

  text-shadow: 0px 10px 7px #000000;

  color: #f35626;
  -webkit-animation: hue 4s infinite linear;
}

.cross {
  width: 70%;
  margin-top: 10px;
}

.user-info {
  display: flex;
  padding: 5px;
}

.welcomename,
.isloggedin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcomename {
  /* cursor: pointer; */
  cursor: default;
  color: rgb(255, 222, 180);
  font-size: 2.2rem;
  text-align: right;
  font-weight: bold;
}

.welcomename:hover {
  /* ----Fast ScaleBox--- */
  /* transform: scale(1.1);
  transition: all ease 100ms; */
  /* background: rgb(0, 0, 0); */
  /* box-shadow: 0 0 25px #000; */
  text-align: center;
  /* display: block; */
  color: rgb(0, 247, 255);
  text-decoration: none;
  font-weight: bold;
}

.isloggedin {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background: black;
  border: 2px solid rgb(18, 219, 219);
  margin-left: 16px;
  padding: 6px;
  cursor: pointer;
  border-radius: 5px;
}

@media (min-width: 600px) {
  .isloggedin {
    font-size: 1.6rem;
    margin: 0;
    margin-left: 16px;
    font-family: "Amatic SC", cursive;
  }
}

.isloggedin:hover {
  /*  /* ----Fast ScaleBox--- */
  transform: scale(1.1);
  transition: all ease 100ms;
  /* background: rgb(0, 0, 0); */
  /* box-shadow: 0 0 25px #000; */
  text-align: center;
  /* display: block; */
  color: rgb(0, 247, 255);
  text-decoration: none;
  font-weight: bold;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;

  font-size: 2.2rem;
  height: 50px;
  background: black;
  border-top: 2px solid rgb(6, 205, 255);
  box-shadow: 0px -10px 10px #000000;
  cursor: default;
  padding: 0 10px 0 10px;

  color: #f35626;
  -webkit-animation: hue 4s infinite linear;
}

.linksdiv {
}

.copyright {
}

@media (min-width: 350px) {
  .copyright {
  }
}

@media (min-width: 770px) {
  .copyright {
  }
}

.linkedin-link,
.gitlink {
  margin: 2px;
}

/* @media (min-width: 500px) {
  .copyright {
    font-size: 1.8rem;
    position: fixed;
   
  }
} */

/* APP */

.App {
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 5px 10px #000000;
  padding: 5px;

  color: #f35626;
  -webkit-animation: hue 4s infinite linear;
}

.App-link {
  color: #61dafb;
}

/* Main */

main {
  margin: 10px;
  margin-bottom: 3%;
  margin-top: 80px;
}

@media (min-height: 500px) {
  main {
    margin: 10px;
    margin-bottom: 3%;
    margin-top: 200px;
  }
}

@media (min-width: 770px) {
  main {
    margin-top: 150px;
  }
}

@media (min-width: 1000px) {
  main {
    margin-top: 100px;
  }
}

@media (min-height: 1366px) {
  main {
    margin-top: 400px;
  }
}

/* HOMEPAGE */

.tagline {
  color: rgb(230, 230, 230);
  font-size: 150%;
  margin-bottom: -1.5%;
  margin-top: -4%;
  animation: shake 1000ms infinite;
  animation-timing-function: linear;
  max-width: 100%;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@media (min-width: 800px) {
  .tagline {
    font-size: 260%;
  }
}

@media (min-width: 768px) {
  .tagline {
    font-size: 260%;
  }
}

.LOGO {
  z-index: -1;
  max-width: 60%;
  margin-top: -50px;

  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 4s infinite linear;

  animation: shake 3000ms infinite;
  animation-timing-function: linear;
}

@media (min-height: 500px) {
  .LOGO {
    z-index: -1;
    max-width: 100%;
    margin-top: -50px;
  }
}

.LOGOsmall {
  display: block;
  max-width: 130px;
  width: 100%;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 4s infinite linear;
}

@media (min-height: 1024px) {
  .LOGOsmall {
    max-width: 300px;
  }
}

@media (min-height: 1366px) {
  .LOGOsmall {
    max-width: 400px;
  }
}

.maintitle-div {
  display: flex;
  align-items: center;
  width: 100%;
}

@media (min-width: 600px) {
  .maintitle-div {
    display: flex;
    align-items: center;
  }
}

/* SHARED */

.page-title {
  margin-top: -140px;
}

@media (min-width: 770px) {
  .page-title {
    margin-top: -90px;
  }
}

@media (min-width: 1000px) {
  .page-title {
    margin-top: -40px;
  }
}

@media (min-width: 1200px) {
  .page-title {
    margin-top: 0;
  }
}

/* LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN---LOGIN------------ */

.logtitle {
  color: rgb(1, 247, 255);
  font-size: 300%;
  margin-bottom: -100px;
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
}

.logform {
  width: 100%;
  display: flex;
  margin-top: 0%;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .logform {
    justify-content: flex-end;
  }
}

.logsubmit {
  color: rgb(0, 225, 255);
  border-radius: 10px;
  height: 40px;
  font-size: 160%;
  margin: 10px;

  font-family: "Amatic SC", cursive;
  font-weight: 700;
  background: black;
  border: 2px solid rgb(18, 219, 219);
}

@media (min-width: 500px) {
  .logsubmit {
    height: 50px;
    font-size: 200%;
  }
}

#register-field {
  width: 250px;
}

@media (min-width: 500px) {
  #register-field {
    width: 400px;
  }
}

.dayinfo-all {
  margin-top: 80px;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;

  cursor: default;
}

#logname {
  width: 100px;
  margin: 5px;
}

#logpass {
  width: 100px;
  margin: 5px;
}

@media (min-width: 770px) {
  #logname,
  #logpass {
    width: 200px;
    margin: 5px;
  }
}

/* ----SKILLSELECT--------SKILL SELECT------SKILL SELECT-----------SSSSSKKK-----------SSSKKKKKKKKK--------------------------------------- */

.your-daily {
  font-size: 4rem;
  margin-bottom: 15px;
  color: rgb(0, 247, 255);
  margin-top: 250px;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  cursor: default;
}

@media (min-width: 770px) {
  .your-daily {
    margin-top: 200px;
  }
}

@media (min-width: 1000px) {
  .your-daily {
    margin-top: 150px;
  }
}

@media (min-width: 1200px) {
  .your-daily {
    margin-top: 110px;
  }
}

.your-daily-habits {
  font-size: 2.4rem;
  margin-bottom: 15px;
  margin-top: 0;
  color: rgb(255, 196, 107);

  -webkit-animation: glow-orange 1s ease-in-out infinite alternate;
  -moz-animation: glow-orange 1s ease-in-out infinite alternate;
  animation: glow-orange 1s ease-in-out infinite alternate;
  cursor: default;
}

@media (min-width: 600px) {
  .your-daily-habits {
    font-size: 3rem;
  }
}

.your-daily-routine {
  transform: rotate(2deg);
  margin: 0;
  font-size: 2.5rem;
  color: rgb(255, 196, 107);

  -webkit-animation: glow-orange 1s ease-in-out infinite alternate;
  -moz-animation: glow-orange 1s ease-in-out infinite alternate;
  animation: glow-orange 1s ease-in-out infinite alternate;
  cursor: default;
}

.yourskills {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daycompleted {
  color: rgb(0, 255, 191);
}

.skillname-add {
  color: rgb(250, 226, 160);
}

.skilllist-div {
  display: flex;
  background: transparent;
  border: 1px solid rgb(0, 206, 178);
  border-radius: 10px;
  margin: 5px;
  width: 100%;
}

@media (min-width: 600px) {
  .skilllist-div {
    display: flex;
    background: transparent;
    border: 1px solid rgb(0, 206, 178);
    border-radius: 10px;
    margin: 5px;
    width: 500px;
  }
}

.skilllist-div:hover {
  transform: scale(1.1);
  transition: all ease 150ms;
}

.skillform {
  margin-top: 10px;
}

.skillinput {
  /* box-shadow: 5px 10px; */
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  border-radius: 10px;

  height: 38px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hourselect {
  /* box-shadow: 5px 10px; */
  cursor: pointer;
  border-radius: 10px;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 2rem;
  /* width: 60px;
  height: 50px; */
  margin-top: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hardtitle {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  /* display: block; */
}

input[type="text"] {
  width: 300px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  margin-top: 10px;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background: rgb(179, 255, 0);
  outline: none;
  cursor: pointer;
  border: 4px solid rgb(0, 0, 0);
}

.skill-routine-table {
  cursor: default;
}

.skillsubmit {
  margin-top: 20px;
  margin-bottom: 30px;
}

.addbutton {
  width: 80%;
  height: 8%;
  border-radius: 10px;
  padding: -5px;
}

@media (min-width: 600px) {
  .addbutton {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .addbutton {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .addbutton {
    width: 35%;
  }
}

.hardsmash {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.6rem;
  color: rgb(133, 54, 54);
  font-weight: 700;
  margin: 10px;
}
.easysmash {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.6rem;
  color: rgb(133, 133, 133);
  font-weight: 700;
  margin: 10px;
}

.skillsmash {
  padding: px;
}

.skillform-titles {
  color: rgb(0, 247, 255);
  font-size: 2rem;
  margin: 0;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  cursor: default;
}

.skillform-titles2 {
  transform: rotate(2deg);
  color: rgb(0, 247, 255);
  font-size: 50px;
  margin: 0;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  cursor: default;
}

.circle {
  font-size: 0.8rem;
}

/* -----------------MAIN PAGE------------------------------------------- */

.skillselect-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.skilllist-end {
  font-size: 1.2rem;
  font-weight: 700;
}

.skill-completed-word {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(255, 168, 97);
  margin-left: 10px;
  margin-right: 10px;
}

.journal-form {
  margin-bottom: 100px;
}

.skillday-info {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.happycheck {
  color: green;
}

.day-skills {
  text-align: left;
}

.journal-title {
  color: orange;

  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: -1px;

  -webkit-animation: glow-orange 1s ease-in-out infinite alternate;
  -moz-animation: glow-orange 1s ease-in-out infinite alternate;
  animation: glow-orange 1s ease-in-out infinite alternate;
}

.singleskill {
  margin-top: -20px;
  margin-left: 10px;
  color: rgb(21, 228, 176);
  font-weight: 700;
}

.skilltarget {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(66, 66, 66);
  font-weight: 700;
  font-size: 0.7rem;
  border: 1px solid;
  padding: 4px;
}

.skilltarget:hover {
  color: white;
}

.days {
  font-size: 285%;
  margin: 3%;
  margin-bottom: 8%;
  color: rgb(255, 255, 255);
}

.days-container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  margin-top: -1%;
  margin-bottom: 4%;
}

.addroutine {
  margin-bottom: 20px;
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
}

.skilldiv {
  background: rgba(43, 78, 131, 0.445);
  color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  /* height: 100%; */
}

@media (min-width: 768px) {
  .skilldiv {
    width: 30%;
  }
}

.skilldiv:hover {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  /* ----Fast ScaleBox--- */
  transform: scale(1.02);
  transition: all ease 200ms;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 25px #000;
  text-align: center;
  display: block;
  color: rgb(0, 247, 255);
  text-decoration: none;
  font-weight: bold;
}

.skilldiv2 {
  /* width: 30%; */
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
}

.target {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  color: rgb(36, 149, 255);
  font-weight: 700;
  padding: 5px;
}

.difficulty-rating {
  color: rgb(0, 255, 128);
  font-weight: 700;
}

/* ---------------------------------------------------------------------- */

.create-routine {
  background: black;
  border: 2px solid rgb(41, 255, 209);
  color: rgb(41, 255, 209);
  cursor: pointer;
  border-radius: 10px;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 1.5rem;
  width: 300px;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 70px;

  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
}

.create-routine-button {
  width: 80%;
  height: 10%;
}

@media (min-width: 600px) {
  .create-routine-button {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .create-routine-button {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .create-routine-button {
    width: 35%;
  }
}

/* Skill status */

.skill-status {
  color: white;
  margin: 0;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

@keyframes wiggle {
  0% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(2px, 0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes wiggle {
  0% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(2px, 0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(-0.5deg);
  }
  100% {
    transform: rotate(0.5deg);
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px rgb(96, 163, 240), 0 0 10px rgb(64, 238, 223), 0 0 20px;
  }
  to {
    text-shadow: 0 0 5px rgb(105, 226, 216), 0 0 20px #66d4e2, 0 0 30px;
  }
}

@-webkit-keyframes glow-orange {
  from {
    text-shadow: 0 0 2px rgb(236, 127, 53), 0 0 10px rgb(248, 130, 20), 0 0 20px;
  }
  to {
    text-shadow: 0 0 5px rgb(255, 144, 41), 0 0 20px #ffb560, 0 0 30px;
  }
}

/* ---------------------------------------------------------------------------------- */
